name: Skythought evals

on: [push, pull_request_target]

permissions:
  checks: write   # for status checks to appear
  contents: read

# Cancel runs for previous commits on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_code_quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        # This is the version of the action for setting up Python, not the Python version.
        uses: actions/setup-python@v5
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.10'
          cache: 'pip'
      - name: Install dependencies
        run: python -m pip install --upgrade pip setuptools wheel pre-commit
      - name: Install skythought_evals
        run: python -m pip install -e ".[dev]"
      - name: Run pre-commit hooks
        run: pre-commit run --all-files --config .pre-commit-config.yaml
  
  tests:
    needs: check_code_quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        # This is the version of the action for setting up Python, not the Python version.
        uses: actions/setup-python@v5
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.10'
          cache: 'pip'
      - name: Install dependencies
        run: python -m pip install --upgrade pip setuptools wheel pre-commit pytest
      - name: Install skythought_evals
        run: python -m pip install -e ".[dev]"
      - name: Run tests
        run: python -m pytest tests/
